<html style="font-size: 1em;color: #000;font-family: sans-serif; color: white;">
    <head>
        <title>VAlidate Account</title>
    </head>
    <body style="background: linear-gradient(153deg, rgba(1,1,27,1) 0%, rgba(1,0,92,1) 100%);
     width: 99%; text-align: center; margin-left: 10px; margin-right: 10px; padding-top: 10px">
        <h1 style="margin-top: 20px; font-weight: 800;">Fantasy Table Tales</h1>
        <div style="width: 100%; background-color: rgba(0, 0, 0, .5); border-radius: 20px; padding-top: 3%; padding-bottom: 15px;">
            <div style="margin: 0 15% 0 15%; text-align: justify;">
                <h2 style="text-align: left;">Dear {{nameUser}},</h2>
                <h3>
                    Thank you for registering on our website! We're thrilled to have you as a new member of our community.
                    Your support means a lot to us, and we invite you to become an even bigger part of our project. If you have any questions, suggestions, or feedback, please don't 
                    hesitate to get in touch with our administrator. You can send us an email at virtualhookstudio@gmail.com. This project is in beta test, so your input helps us improve and provide you with a better experience.
                    As a next step, we've sent a verification code to your provided email address. This code is essential to activate your account. To complete the registration process, please 
                    <a href="http://localhost:8080/validateaccountpage" style="border: none; text-decoration: none;">click here below and enter the verification code</a>
                </h3>  
                <h3>Thank you once again for joining us on this journey. We look forward to seeing you around and hope you enjoy your time on our platform.</h3>
                <h3>Best regards, The FantasyTableTales Team</h3>
                <p style="font-size: 3em; text-align: center; background-color: rgba(0, 0, 0, .8); padding: 20px; border-radius: 20px; margin-left: 25%; margin-right: 25%;">{{key}}</p>
            </div>
        </div>
    </body>
</html>